.App {
  text-align: center;
}

.Characters{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 30px auto;
}

.item img{
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
}
